.completed-tasks {
    display: none;
    width: 100%;
    li {
        color: #5cdb95;
        text-decoration: line-through;
    }
}

.completed-tasks.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}
